/* Basic style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin-bottom: 10px;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2, h3 {
    margin-bottom: 15px;
}

section {
    margin-bottom: 30px;
}

.break {
    margin-top: 30px;
    margin-bottom: 30px;
}

.info {
    margin-top: 60px;
    margin-bottom: 60px;
}

.cta {
    background-color: #d3e1f2;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

ul.main-headding {
    list-style-type: none;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}

ul.main-headding li ul {
    list-style-type: disc; /* Use bullet points for sub-lists */
    padding-left: 20px; /* Indent sub-lists */
}

ul li a {
    color: white;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    background-color: #0044cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0033a1;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: #0044cc;
    color: white;
}
